* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --header-background: #ffd900;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  &:link,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none;
  }
}

.overlay {
  width: 100%;
  background: var(--header-background);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.emp {
  background: var(--header-background);
  padding: 0 1.5rem;
  font-family: "Pacifico", cursive;
  font-weight: 100;
  font-size: 5rem;
}
